/*/////////////////////          GENERAL          /////////////////////*/
body {
  margin: 0;
  background-color: #004811;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
}

.container {
  margin: 2.5vw;
  padding: 2.5vw;
  background-color: white;
}

.cf {
  content: "";
  display: table;
  clear: both;
}

h1, h3, p {
  margin: 0;
}

.initially-hidden {
  display: none;
}


a:link, a:visited {
  color: black;
  text-decoration: none;
}

/*/////////////////////          NAVBAR          /////////////////////*/
ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
  background-color: #bfd1c3;
}

li {
  float: left;
  font-family: 'Yantramanav', sans-serif;
  font-weight: bolder;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #004811;
  color: #e9e826;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #004811;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform: uppercase;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #004811;
}

.dropdown:hover .dropdown-content {
  display: block;
}

ul img {
  float: right;
  width: 49px;
  margin-right: 16px;
}
/*/////////////////////          FEATURES          /////////////////////*/
.feature1 img {
  opacity: .8;
}
.img-content {
  position: absolute;
  width: 95%;
  color: white;
  left: 2.5%;
}

.feature1 {
  margin-bottom: 1vw;
}

.feature1 .img-content{
  top: 28%;
}

.feature2 .img-content{
  top: 70%;
}

h1 {
  font-size: 4vh;
  font-family: 'Anton', sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.feature1 h1 {
  color: #133e1d;
}
.timbers {
  background: -webkit-linear-gradient(left,#004811, #004811, #e9e826 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature p {
  margin-top: 2vh;
  font-family: 'Yantramanav', sans-serif;
  font-size: 2vh;
  text-shadow: 1px 1px 1px black;
  color: white;
}
.feature2 {
  padding-top: 1vw;
}

#changeText {
  background: -webkit-linear-gradient(#589065, #004811 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*/////////////////////          CARDS          /////////////////////*/

.card {
  padding: 1vw;
  margin: 1vw 0;
  background-color: rgba(0, 72, 17, .25);
  box-shadow: 0px 0px 2px black;
}

.card img {
  float: left;
  width: 25%;
}

.card-content {
  float: right;
  width: 73%;
}

h3 {
  font-family: 'News Cycle', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

.card p:first-of-type {
  font-size: .8em;
  font-style: italic;
  color: #777;
  font-family: 'Yantramanav', sans-serif;
}

.glow {
  box-shadow: 0 0 30px #e9e826;
  opacity: .7;
  transition: all .7s;
}

a {

}
/*/////////////////////          @MEDIA          /////////////////////*/
@media screen and (max-width: 560px) {
  .extend {
    display: none;
  }
}

/*medium screens*/
@media screen and (min-width: 720px) {
  .card {
    width: 49%;
    margin: 1% 0;
    padding: 0;
    float: left;
    clear: none;
    text-align: center;
  }
  .card:nth-child(even) {
    margin-right: 2%;
  }
  .card img {
    width: 100%;
  }
  .card-content {
    float: none;
    width: 100%;
  }
  p[class=initially-hidden] {
    display: block;
    text-align: left;
    margin: 10px;
    font-style: italic;
  }
  .card h3 {
    font-size: 150%;
  }
  .extend {
    display: none;
  }
}

/*large screens*/
@media screen and (min-width: 1000px) and (orientation : landscape) {
  .feature {
    width: 42.5vw;
    margin: 0;
    float: left;
    clear: none;
  }
  .feature2 {
    padding: 0;
  }
  .card {
    width: 18.8vw;
    min-height: 18.8vw;
    margin: 2.56vw 0vw;
  }
  .card:nth-child(even) {
    width: 18.8vw;
    min-height: 18.8vw;
    margin: 2.56vw 2.5vw;
  }
  .card:nth-child(4) {
    clear: both;
    margin-left: 0;
  }
  .card:nth-child(5) {
    margin-right: 2.56vw;
  }
  p[class=initially-hidden] {
    display: none;
  }
  .card[class$="glow"]:not(.card2) {
    margin: 0 !important;
    width: 24vw !important;
    height: 24vw !important;
  }
  .card2[class$="glow"] {
    margin: 0;
    width: 23.5vw !important;
    height: 23.5vw !important;
    transform: translateX(-2.5vw);
  }
}
@media screen and (min-width: 1600px) and (orientation : landscape) {
  h3 {
    margin-top: 68%;
  }
}

/*//////////////////            H1 FONT            //////////////////*/
@media screen and (min-aspect-ratio: 25/8) {
  h1 {
    font-size: 2vw;
  }
  .feature p {
    font-size: 2vw;
  }
}

@media screen and (max-width: 720px) and (max-aspect-ratio: 8/11) {
  h1 {
    font-size: 6vw;
  }
  .feature p {
    margin-top: 2vw;
    font-size: 5vw;
  }
  .feature1 .img-content{
    top: 2%;
  }
}
@media screen and (min-width: 1000px) and (max-aspect-ratio: 10/7) {
  h1 {
    font-size: 5vw;
  }
}
@media screen and (min-width: 720px) and (max-aspect-ratio: 12/8) {
  h1 {
    font-size: 3vh;
  }
}
