/* For testing only */
*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
  background-color: white;
  opacity: .7;
}

.column {
  min-height: 100px;
}

/*/////////////////////          GENERAL          /////////////////////*/
body {
  margin: 0;
  background-color: lightblue;
}

.wrapper {
  position: relative;
}

img {
  width: 100%;
}

.container {
  margin: 2vh 5vw;
}

.cf {
  content: "";
  display: table;
  clear: both;
}

/*/////////////////////          FEATURES          /////////////////////*/
.img-content {
  position: absolute;
  top: 77.5%;
  left: 2.5%;
  width: 95%;
}
/*/////////////////////          CARDS          /////////////////////*/
.card {
  padding: 10px;
  margin: 2vh 0;
}

.card img {
  float: left;
  width: 25%;
}

.card-content {
  float: right;
  width: 73%;
}
