/*/////////////////////          GENERAL          /////////////////////*/
body {
  margin: 0;
  background-color: #004811;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
}

.container {
  margin: 2.5vw;
  padding: 2.5vw;
  background-color: white;
}

.cf {
  content: "";
  display: table;
  clear: both;
}

h1, h3, p {
  margin: 0;
}

.initially-hidden {
  display: none;
}

/*/////////////////////          FEATURES          /////////////////////*/
.img-content {
  position: absolute;
  width: 95%;
  color: white;
  left: 2.5%;
}

.feature1 {
  margin-bottom: 1vw;
}

.feature1 .img-content{
  top: 30%;
}

.feature2 .img-content{
  top: 70%;
}

h1 {
  font-size: 4vmax;
  font-family: 'Anton', sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.feature p {
  margin-top: 2vmax;
  font-family: 'Yantramanav', sans-serif;
  font-size: 2vmax
}
.feature2 {
  padding-top: 1vw;
}
/*/////////////////////          CARDS          /////////////////////*/

.card {
  padding: 1vw;
  margin: 1vw 0;
  background-color: rgba(0, 72, 17, .25);;
}

.card img {
  float: left;
  width: 25%;
}

.card-content {
  float: right;
  width: 73%;
}

h3 {
  font-family: 'News Cycle', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

.card p:first-of-type {
  font-size: .8em;
  font-style: italic;
  color: #777;
  font-family: 'Yantramanav', sans-serif;
}

/*/////////////////////          @MEDIA          /////////////////////*/

@media screen and (min-width: 720px) {
  body {
  }

  .card {
    width: 49%;
    margin: 1% 0;
    padding: 0;
    float: left;
    clear: none;
    text-align: center;
  }
  .card:nth-child(even) {
    margin-right: 2%;
  }
  .card img {
    width: 100%;
  }
  .card-content {
    float: none;
    width: 100%;
  }
  p[class=initially-hidden] {
    display: block;
    text-align: left;
    margin: 10px;
    font-style: italic;
  }
  .card h3 {
    font-size: 150%;
  }
}

@media screen and (min-width: 1000px) {
  .feature {
    width: 42.5vw;
    margin: 0;
    float: left;
    clear: none;
  }
  .feature2 {
    padding: 0;
  }
  .card {
    width: 18.8vw;
    min-height: 18.8vw;
    margin: 2.56vw 0vw;
  }
  .card:nth-child(even) {
    width: 18.8vw;
    min-height: 18.8vw;
    margin: 2.56vw 2.5vw;
  }
  .card:nth-child(4) {
    clear: both;
    margin-left: 0;
  }
  .card:nth-child(5) {
    margin-right: 2.56vw;
  }
  p[class=initially-hidden] {
    display: none;
  }
}
